<div class="mainCont">
    <div class="flexCont">
    <div class="cardCont">
        <img [src]="stuImgPath" />
        <p>Aakash</p>
        <div class="btn-style">
            <button class="btn btn-success edit-btn">Edit</button>
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
    </div>
    <div class="cardCont">
        <img [src]="stuImgPath" />
        <p>Aakash</p>
        <div class="btn-style">
            <button class="btn btn-success edit-btn">Edit</button>
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
    </div>
    <div class="cardCont">
        <img [src]="stuImgPath" />
        <p>Aakash</p>
        <div class="btn-style">
            <button class="btn btn-success edit-btn">Edit</button>
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
    </div>
</div>
<div class="flexCont">
    <div class="cardCont">
        <img [src]="stuImgPath" />
        <p>Aakash</p>
        <div class="btn-style">
            <button class="btn btn-success edit-btn">Edit</button>
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
    </div>
    <div class="cardCont">
        <img [src]="stuImgPath" />
        <p>Aakash</p>
        <div class="btn-style">
            <button class="btn btn-success edit-btn">Edit</button>
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
    </div>
    <div class="cardCont">
        <img [src]="stuImgPath" />
        <p>Aakash</p>
        <div class="btn-style">
            <button class="btn btn-success edit-btn">Edit</button>
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
    </div>
</div>
</div>